#!/bin/bash

###############################################################################
#   Copyright (C) 2024 . All rights reserved.
#
#   @Filename: {{FILEE}}
#
#   @Author: {{NAME}}
#
#   @Email: {{EMAIL}}
#
#   @Date: {{TODAY}}
#
#   @Description:
#
###############################################################################

{{CURSOR}}
