/*******************************************************************************
 *   Copyright (C) 2022 Concordia NAVlab. All rights reserved.
 *
 *   @Filename: {{FILEE}}
 *
 *   @Author: {{NAME}}
 *
 *   @Email: {{EMAIL}}
 *
 *   @Date: {{TODAY}}
 *
 *   @Description:
 *
 *******************************************************************************/

 {{CURSOR}}
