###
### C++ code
###
snippet CPP "cpp code" wA
\`\`\`C++
$1
\`\`\`
$0
endsnippet

###
### C++ code
###
snippet PY "Python code" wA
\`\`\`python
$1
\`\`\`
$0
endsnippet

###
### math equation
###
snippet $ "math equation" wA
\$$1\$$0
endsnippet

###
### bold
###
snippet ** "bold" wA
**$1**$0
endsnippet

###
### table
###
snippet TABLE "table" wA
| $0   | <++> |
| ---- | ---- |
| <++> | <++> |
endsnippet

###
### picture
###
snippet PIC "picture" wA
![$1]($0)
endsnippet

